*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style-type:none;
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.navbar{
    list-style-type: none;
    padding:20px;
    background-color:black;
    text-align:right;
    color:white;
}
.navbar a{
    text-decoration:none;
}
.navbar li{
    display: inline;
}
.navclass{
    width: 25px;
    height: 5px;
    background-color: black;
    float:right;
}
.body-page{
   
}
@media only screen and (max-width:500px){
    .jonas-content{
        background-color:red;
    }
    
}
.footer{
    
    bottom:0;
    width:100%;
    left:0;
    height:10px;
    background-color:#f8f9fa;
    color:black;
    text-align:center;
   
    opacity: 0.6;
    height:100px;
    justify-content: center;
    font-family: "Lucida" Grande, sans-serif;
    display:flex;
    align-items:center;
    font-size:12px;
}
.title-portf{
    color:white;
    text-decoration:none;
    float:left;
}
.jonas{
    background-color:#ffbc14;
   
    text-align:center;
    color:#25242b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow:hidden;
}
.underc{   
       
}
.jonas-content{
    margin-top:300px;
    float:center;
    width:100%;
}
.aboutme{
    background-color:white;
    color:#25242b;
    margin-top:-48px;
    padding-bottom:100px;
    text-align:left;
    padding-left:180px;
    
}
.aboutme-text{
    float:center;
}
.projects{
    background-color:#0082a0;
    margin-top: 490px;
}
#aboutmelink{
    font-size:14px; 
    height:58px;
    padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}
#projectslink{
    font-size:16px;height:70px;width:160px;padding: 18px 25px;
    text-align: center;text-decoration: none;display: inline-block;
    margin-top:50px;
}
.whitebg-div{
    background-color:#FFFFFF;
    float:center;
    width:100%;
    text-align:center;
}

.far{
    font-size:40px;
    color:black;
}
.projects-content{
    width:100%;
}
.contact{
    margin-bottom:100px;
    color:#25242b;
    text-align:center;
}
.skills{
    width:100%;
    background-color:#f8f9fa;
    height:400px;
    text-align:center;
    display:block;
}
.graybg-div{
    background-color:#f8f9fa;
    float:center;
    width:100%;
    text-align:center;
    height:500px;
}
