.navbar{
    list-style-type: none;
    padding:20px;
    background-color:black;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    text-align:right;
    color:white;
}
.navbar a{
    text-decoration:none;
}
.navbar li{
    display: inline;
}
.navclass{
    width: 25px;
    height: 5px;
    background-color: black;
    float:right;
}
.body-page{
    position:relative;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    left:0;
    height:20px;
    background-color:black;
    color:white;
    text-align:center;
    margin-bottom:-10px;
    opacity: 0.6;
    height:100px;
    justify-content: center;
    font-family: sans-serif;
    display:flex;
    align-items:center;
    
}
.title-portf{
    color:white;
    text-decoration:none;
    float:left;
}
.jonas{
    background-color:#ffbc14;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    padding-bottom:665px;
    text-align:center;
    color:#25242b;
  
}
.jonas-content{
    position:absolute;
    margin-top:200px;
    float:center;
    width:100%;
}
.aboutme{
    background-color:white;
    color:#25242b;
    margin-top:-48px;
    padding-bottom:100px;
    text-align:left;
    padding-left:180px;
    position:relative;
}
.projects{
    background-color:#0082a0;
    position: relative;
}
#aboutmelink{
    font-size:14px; 
    height:58px;
    padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}
#projectslink{
    font-size:16px;height:70px;width:160px;padding: 18px 25px;
    text-align: center;text-decoration: none;display: inline-block;
    margin-top:50px;
}
.projects2{
    background-color:#FFFFFF;
    float:center;
    width:100%;
    text-align:center;
}

.far{
    font-size:40px;
    color:black;
}
.projects-content{
    width:100%;
    text-align:center;
}
.contact{
    margin-bottom:100px;
}
.skills{
    width:100%;
    background-color:#f8f9fa;
    height:400px;
    text-align:center;
    display:block;
}
